/*Carlos Gonzalez*/
/*Carlos Vasquez */
*{
    box-sizing:border-box;
   
}
/* FUENTE DE LETRA DEL BODY */
body{
    font-family: 'Poppins', sans-serif;;
    width:100%;
}
h1,h2,p{
    font-weight:bold;
}

.card-body
{
    background-color: rgb(206, 201, 201);
}

#fondo{
    background:#e4dede;
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
}
.fondo_formulario{
    background:#e6dcd4;
    border:dotted 1px;
    border-radius:5px;
}
.logo{
    width: 300px;
    height: 100px;
    padding:10px;
    margin: 0px;
    color: #febf10;
    border-radius:30px 25px 25px 30px;
}
/* FUENTE DE LETRA DEL NAV */
/*nav {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
}*/
/*Es un pseudoelemnto para cambiar de color LOS LINK a */

nav{
    padding:5px;
    border-radius:3%;
}
ul{
    display: inline-block;
    margin-bottom:70px;
    border-radius:5%;
}
ul,li.linea{
    padding-top: 10px;
}
a.mover:hover{
background-color:rgb(223, 174, 62);
border-radius: 35px;
}
.linea{
    display: inline;
}
.linea a{
    color: white;
    margin-top:50px;
    margin-right:20px;
    margin-left:5px;
    margin-bottom:30px;
}
li.linea{
    padding-top: 10px;
}
/* Clase para poner COLOR a un TITULO */
.algomas{
    color: chocolate;
}
/* COLOR EN LA CAJA DE DIV DE NAVEGACION Y CONFIGURACION DE BORDES Y COLOR DE FONDO  */
/*div {
    background-color: chartreuse;
    border:1px dotted red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #000;
    transform:rotate(0deg);
    margin: 20px;
}*/
/* MENU DE NAVEGACION */

.menu_navegacion a{
    padding:5px;
    color:rgb(255, 255, 255);
    margin:5px;
    display: inline-flex;
}
/* ARTICULO SOMOS */
.article_somos{
    text-align: center;
    border:1px dotted ;
    border-radius: 10px;
    box-shadow: 3px 5px 5px 3px #000;
    transform:rotate(0deg);
    background:#e6dcd4;

}

/* FORMULARIO DEL EJERCICIO*/
.form_principal{
    display:block;
    border: 2px double;
    box-shadow:1px 0px 13px 0px rgba(30, 125, 204, 0.72);
    margin-right:10px;
    margin-left:10px;
    padding:5px;  
    border-radius:5px;
}
.form-inline{
    margin:5px
}
/*IMPUT DEL FORMULARIO */
.block1,input{
    display:block;  
}
/* CONFIGURACION DEL CARUSEL O SLIDER */

/* COLOR DEL FOOTER */
footer{
background-color: rgb(81, 80, 80);
}
footer p{
    color: rgb(255, 255, 255);
    }
/* CONFIGURACION DEL FOOTER */
.footer_config{
    margin: 20px;   
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(49, 43, 43);
    transform:rotate(0deg);
}
/* CONFIGURACION DEL MARGEN DEL PIE DE PAGINA EN PARRAFO(p) */
.footer_config,p{
    margin:10px;
    padding:2px;
}

nav.bg_blue{
    background-color: rgb(173, 181, 253);
    border-radius:10px;
    
}
.ul a{
    color: white
}
/* sin viñetas */
#grupo1-slider > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;    
}

