*{
    box-sizing:border-box;
}
/* FUENTE DE LETRA DEL BODY */
body{
    font-family: 'Poppins', sans-serif;;
    width:100%;
}
h1,h2,p{
    font-weight:bold;
}
#fondo{
    background:#1E415E;    
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    box-shadow:3px 0px 23px 0px rgba(50, 128, 204, 0.74);
}
.fondo_formulario{
    background:#FFC594;
}
.logo{
    width: 300px;
    height: 100px;
    padding:10px;
    margin: 0px;
    color: #febf10;
    border-radius:30px 25px 25px 30px;
}
/* FUENTE DE LETRA DEL NAV */
/*nav {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
}*/
/*Es un pseudoelemnto para cambiar de color LOS LINK a */
a.mover:hover{
background-color:rgb(223, 174, 62);
border-radius: 35px;
}
/* Clase para poner COLOR a un TITULO */
.algomas{
    color: chocolate;
}
/* COLOR EN LA CAJA DE DIV DE NAVEGACION Y CONFIGURACION DE BORDES Y COLOR DE FONDO  */
/*div {
    background-color: chartreuse;
    border:1px dotted red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #000;
    transform:rotate(0deg);
    margin: 20px;
}*/
/* MENU DE NAVEGACION */

.menu_navegacion a{
    padding:5px;
    color:rgb(255, 255, 255);
    margin:3px;
    display: inline-flex;
}
/* ARTICULO SOMOS */
.article_somos{
    text-align: center;
    background-color: rgb(238, 164, 164);
    border:1px dotted red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #000;
    transform:rotate(0deg);

}

/* FORMULARIO DEL EJERCICIO*/
.form_principal{
    display:inline-block;
    border: 2px double;
    box-shadow:3px 0px 23px 0px rgba(50, 128, 204, 0.74);
    margin-right:10px;
    margin-left:30px;
    padding:5px;
    background-color:#73A7D5;
    border-radius:5px;
}
/*IMPUT DEL FORMULARIO */
.block1,input{
    display:block;  
}
/* CONFIGURACION DEL CARUSEL O SLIDER */

/* COLOR DEL FOOTER */
footer{
background-color: rgb(0, 0, 0);
}
footer p{
    color: rgb(255, 255, 255);
    }
/* CONFIGURACION DEL FOOTER */
.footer_config{
    margin: 20px;
    border:1px dotted #febf10;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #000;
    transform:rotate(0deg);
}
/* CONFIGURACION DEL MARGEN DEL PIE DE PAGINA EN PARRAFO(p) */
.footer_config,p{
    margin:10px;
}

.bg_blue{
    background-color: rgb(31, 49, 214);
    border-radius:15px;   
}
.ul a{
    color: white
}
/* sin viñetas */
#grupo1-slider > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;    
}
