/*Carlos Gonzalez*/
/*Carlos Vasquez */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* FUENTE DE LETRA DEL BODY */
body{
    font-family: 'Poppins', sans-serif;;
    width:100%;
}
h1,h2,p{
    font-weight:bold;
}
.card-body
{
    background-color: rgb(206, 201, 201);
}
/*Configuracion de id fondo  */
#fondo{
    background:#e4dede;
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;

}
/*Configuracion del fondo del formulario en contacto.html  */
.fondo_formulario{
    background:#e6dcd4;
    border:dotted 1px;
    border-radius:5px;
}
/* Logo Principal Cachureando */
.logo{
    width: 300px;
    height: 100px;
    padding:10px;
    margin: 0px;
    color: #febf10;
    border-radius:30px 25px 25px 30px;
}
/* Configuración del Nav de navegación o barra de link */
nav{
    padding:5px;
    border-radius:3%;
}

ul{
    display: inline;
    border-radius:5%;
}
ul,li.linea{
    padding: 0px;
    margin:1px;
}
a.mover:hover{
background-color:rgb(223, 174, 62);
border-radius: 25px;
}
.linea{
    display: inline;
}
.linea a{
    color: white;
    margin:0;
}
/* Clase para poner COLOR a un TITULO */
.algomas{
    color: chocolate;
}
/* MENU DE NAVEGACION */
.menu_navegacion a{
    padding:5px;
    color:rgb(255, 255, 255);
    margin:2px;
    display: inline-flex;
}
/* ARTICULO SOMOS */
.article_somos{
    text-align: center;
    border:1px dotted ;
    border-radius: 10px;
    box-shadow: 3px 5px 5px 3px #000;
    transform:rotate(0deg);
    background:#e6dcd4;
}
/* FORMULARIO DEL EJERCICIO*/
.form_principal{
    display:block;
    border: 2px double;
    box-shadow:1px 0px 13px 0px rgba(30, 125, 204, 0.72);
    margin-right:10px;
    margin-left:10px;
    padding:5px;  
    border-radius:5px;
}
/*FORMULARIO DE BÚSQUEDA CON LA LUPA */
.form-inline{
    margin:0;
}
/*IMPUT DEL FORMULARIO */
.block1,input{
    display:block;
}
.tablas {
    background: rgb(249,252,247);
    padding:5px;
    margin-top:10px;
    border: 1px dotted ;
    border-radius:15px;
}

/*Clase de la imagen con bordes */
.bordeo{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
}
/*clase bordes*/
div.card-body.pergamino{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
    border:1px dotted blue;
    padding-bottom:5px;
}
/* IMAGEN EN MOVIMIENTO INTERNO */
.imaghover:hover{ 
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8)
 }
/* COLOR DEL FOOTER */
footer{
background-color: rgb(96,108,136);;
}
footer p{
    color: rgb(255, 255, 255);
    }
/* CONFIGURACION DEL FOOTER */
.footer_config{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(49, 43, 43);
    transform:rotate(0deg);
}
/* CONFIGURACION DEL MARGEN DEL PIE DE PAGINA EN PARRAFO(p) */
.footer_config,p{
    margin:10px;
    padding:2px;
}

nav.bg_blue{
    background-color: rgb(173, 181, 253);
    border-radius:10px;    
}
.ul a{
    color: white
}
/* sin viñetas */
#grupo1-slider > ul, li {
    padding: 0;
    margin: 0;
    list-style: none;    
}

